* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first {
    height: 60px;
    display: flex;
    background-color: #0F235A;
    font-family: sans-serif;
    font-weight: bolder;
}

.logo {
    padding: 6px 50px 6px 50px;
}

.logo img {
    cursor: pointer;
}

.international,
.domestic {
    font-size: 18px;
    padding-top: 16px;
    margin-right: 13px;
    cursor: pointer;
}

.international {
    color: white;
    border-bottom: 6px solid #c65142;
}

.domestic {
    color: rgba(255, 255, 255, .8);
}

.space {
    width: 36%;
}

.search {
    color: white;
    padding: 16px 19px 0px 19px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 20px;
    cursor: pointer;
}

.cwc {
    padding: 12px 16px 20px 16px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.equal {
    color: white;
    font-size: 24px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    padding: 16px 19px 0px 19px;
}

.lang {
    color: white;
    cursor: pointer;
    font-weight: lighter;
    padding: 20px 6px 0px 19px;
    font-size: 13px;
}

.searchbar {
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    display: none;
}

.find,
.sel {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 7px;
    margin-top: 4px;
    border-radius: 30px;
    margin-right: 5px;
}

.find {
    width: 500px;
}

.submit {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 7px 10px 7px 10px;
    border-radius: 30px;
    color: white;
    background-color: #c65142;
    cursor: pointer;
}

.find:focus {
    outline: 5px solid rgba(151, 216, 238, 0.823);
    transition: 0.2s;
}

.sel:focus {
    outline: none;
}


.second {
    height: 45px;
    font-family: sans-serif;
    display: flex;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .1);
    position: relative;
}

.men {
    transform: skewX(-0.10turn);
    background-color: #c65142;
    margin-left: -20px;
    padding: 0px 75px 0px 50px;
    cursor: pointer;
}

.women {
    padding: 0px 75px 0px 30px;
    transform: skewX(-0.10turn);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-right: 15px;
}

.m {
    position: absolute;
    color: white;
    top: 14px;
    left: 30px;
    font-size: 13px;
    cursor: pointer;
}

.w {
    position: absolute;
    top: 14px;
    left: 132px;
    font-size: 13px;
    cursor: pointer;
}

.videos,
.fixtures,
.results,
.news,
.players,
.ranking,
.stats,
.sat,
.archive {
    padding: 13px 15px 0px 20px;
    color: rgba(0, 0, 0, .5);
    font-size: 13px;
    cursor: pointer;
}

.si {
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 10px 0px 10px 0px;
}

.linkbar {
    display: flex;
    height: 40px;
    color: #133f7e;
    font-family: sans-serif;
    font-size: 13px;
}

.ar {
    color: rgba(0, 0, 0, 0.3);
}

.qlink {
    margin: 7px 40px 7px 15px;
    border-radius: 30px;
    background-color: #A0c7ff;
    padding: 6px 20px;
}

.domsch,
.inter-results,
.bcci-doc,
.tender,
.jobs {
    margin-top: 11px;
    margin-right: 40px;
    cursor: pointer;
}