@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Lugrasimo&family=Yeseva+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.yogadiv {
    background-color: #f4f9f4;
    position: relative;
}

.com {
    position: absolute;
    width: 30%;
    left: 85%;
    top: 65%;
    z-index: 7;
}

.over {
    overflow: hidden;
}

nav {
    position: relative;
    padding-top: 30px;
    margin-bottom: 70px;
}

.icon {
    display: none;
    font-size: 20px;
}

.hide {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 30px;
    opacity: 0;
}

.min {
    font-size: 10px;
    cursor: pointer;
}

.min:hover {
    color: #78c1bb;
}

.cont {
    display: none;
    position: absolute;
    padding-left: 20px;
    color: white;
    font-weight: 100;
    background-color: #3a6360;
    width: 20%;
    border: 2px solid black;
    transition: all 1s ease-in;
}

.logo {
    background-color: #a7d7c5;
    position: absolute;
    top: 0%;
    left: 1.5%;
    padding: 20px 5px 10px 5px;
}

img {
    width: 100%;
    height: 100%;
}

.line {
    display: flex;
    justify-content: end;
    gap: 40px;
    margin-left: 20px;
    padding-right: 60px;
    background-color: #caeeea;
    font-family: sans-serif;
    font-weight: 600;
}

.side {
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
}

.side:hover {
    background-color: #78c1bb;
}

.yogline {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

.col-50 {
    width: 50%;
    font-family: sans-serif;
    text-align: center;
    color: #3a6360;
    position: relative;
    padding-bottom: 100px;
}

.round {
    width: 40%;
    margin: 7% auto;
    position: relative;
}

.deg {
    position: absolute;
    left: 15%;
    top: -11%;
    width: 70%;
}

.circle {
    border-radius: 50%;
    border: 2px solid #3a6360;
}

.yogaclass {
    font-size: 50px;
    margin-top: 100px;
    font-family: 'Baloo Bhai 2', sans-serif;
}

.yogapara {
    font-family: 'Baloo Bhai 2', sans-serif;
    padding: 0px 100px 0px 100px;
}

.join {
    font-family: 'Baloo Bhai 2', sans-serif;
    background-color: #3a6360;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
    padding: 0px 15px 0px 15px;
    cursor: pointer;
    border: none;
    transition: 0.7s;
}

.join:hover {
    transition: 0.7s;
    box-shadow: 2px 2px 10px black;
}

.choosediv {
    background-color: #6c9894;
    z-index: 6;
    position: relative;
}

.chooseclass {
    color: #f4f9f4;
    text-align: center;
    font-family: 'Baloo Bhai 2', sans-serif;
    width: 90%;
    margin: 0 auto;
}

.chooseclass h2 {
    font-size: 50px;
    padding-top: 5%;
}

.lineyog {
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 120px;
    justify-content: space-around;
    margin-top: 5%;
    position: relative;
}

.col-33 {
    z-index: 4;
    margin-bottom: 100px;
}

.design,
.sign,
.adjust {
    position: absolute;
    width: 35%;
    top: -8%;
}

.design {
    left: -4.5%;
}

.sign {
    left: 32.6%;
}

.adjust {
    left: 69.3%;
}

.imgline img {
    border-radius: 50%;
}

.newclass {
    color: #f4f9f4;
    font-family: 'Baloo Bhai 2', sans-serif;
    margin-top: 30px;
    text-align: center;
}

.newclass h2 {
    font-size: 30px;
}

.newclass p {
    padding: 0px 50px 0px 50px;
}


.ourstatsdiv {
    background: url(ImagePro04-CSS/image08-pro04CSS.png)no-repeat center center/cover;
    position: relative;
}

.fish {
    position: absolute;
    width: 25%;
    left: -1.7%;
    top: -5.8%;
}

.stats {
    color: #6c9894;
    text-align: center;
    font-family: 'Baloo Bhai 2', sans-serif;
    width: 90%;
    margin: 0 auto;
}

.stats h2 {
    font-size: 50px;
    padding-top: 5%;
}

.linecircle {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 100px;
    text-align: center;
    color: #6c9894;
    padding-bottom: 100px;
}

.linecircle div[class*="cir"] {
    border: 2px solid #6c9894;
    font-family: 'Baloo Bhai 2', sans-serif;
    border-radius: 50%;
}

.linecircle div[class*="cir"] h2 {
    margin-top: 60px;
    font-size: 40px;
}

.linecircle div[class*="cir"] p {
    padding: 0px 60px 50px 60px;
}


.bestdiv {
    display: flex;
    background-color: #6c9894;
    justify-content: space-around;
}

.bestimg {
    width: 30%;
}

.ins {
    color: #f4f9f4;
    font-family: 'Baloo Bhai 2', sans-serif;
    margin-top: 100px;
}

.ins h2 {
    font-size: 50px;
}

.ins p,
.ins h2 {
    padding: 0px 60px 0px 60px;
}

.ins button {
    padding: 7px 30px 7px 30px;
    margin-left: 60px;
    background-color: #f4f9f4;
    color: #6c9894;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 20px;
}

.bigexpe {
    position: relative;
    overflow: hidden;
}

.bigpos {
    position: absolute;
    left: 80%;
    top: 0%;
    width: 43%;
}

.expediv {
    display: flex;
    justify-content: space-around;
}

.col50 {
    width: 30%;
    color: #3a6360;
    font-family: 'Baloo Bhai 2', sans-serif;
    padding: 50px;
    z-index: 4;
}

.col50 h2 {
    font-size: 36px;
    margin-top: 100px;
}

.col50 button {
    color: #f4f9f4;
    background-color: #3a6360;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    cursor: pointer;
    font-family: 'Baloo Bhai 2', sans-serif;
    font-weight: bolder;
    padding: 7px 30px 7px 30px;
}

.pridiv {
    background-color: #6c9894;
}

.pricing {
    text-align: center;
    color: #f4f9f4;
    padding-top: 6px;
    font-family: 'Baloo Bhai 2', sans-serif;
}

.pricing h2 {
    font-size: 50px;
}

.newstar {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
}

.addclass {
    background-color: #f4f9f4;
    color: #6c9894;
    text-align: center;
    font-family: 'Baloo Bhai 2', sans-serif;
    border-radius: 5px;
    padding: 20px 30px;
    padding-bottom: 40px;
    margin-bottom: 70px;
}

.addclass img {
    margin-top: 10px;
    height: 50%;
    width: 40%;
}

.addclass p {
    margin-top: 5px;
}

.addclass button {
    color: #f4f9f4;
    background-color: #6c9894;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 7px 30px 7px 30px;
    margin-top: 5px;
    font-weight: bolder;
    font-family: 'Baloo Bhai 2', sans-serif;
}

.backcir {
    background: url(ImagePro04-CSS/image14-pro04CSS.png)no-repeat center center/cover;
    font-family: 'Baloo Bhai 2', sans-serif;
    color: #6c9894;
    text-align: center;
    position: relative;
}

.deimg {
    margin: 5% auto;
    width: 20%;
    position: relative;
}

.deimg img {
    border-radius: 50%;
    border: 2px solid #3a6360;
}

.backcir p {
    font-size: 30px;
}

.backcir h2 {
    font-size: 50px;
    padding-bottom: 100px;
}

.avg {
    position: absolute;
    width: 27%;
    left: 36.5%;
    top: -6%;
}

.dont {
    background-color: #6c9894;
    color: #f4f9f4;
    font-family: 'Baloo Bhai 2', sans-serif;
    text-align: center;
    position: relative;
}

.dont h2 {
    font-size: 50px;
    padding-top: 70px;
}

.dont input::placeholder {
    color: #6c9894;
}

.dont input {
    width: 30%;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 25px;
    color: #6c9894;
    padding: 10px;
    background-color: white;
    margin-bottom: 100px;
}

.dont button {
    color: #6c9894;
    position: absolute;
    background-color: #f4f9f4;
    border-radius: 25px;
    padding: 12px 20px 12px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    left: 60%;
    top: 62.3%;
}

footer {
    display: flex;
    color: #6c9894;
    font-family: 'Baloo Bhai 2', sans-serif;
    padding: 100px 40px 100px 40px;
    background-color: #f4f9f4;
    gap: 70px;
}

.titlediv {
    width: 40%;
}

.aboutdiv {
    display: flex;
    width: 60%;
}

.about {
    width: 33.33%;
}

.his {
    color: #6c9894;
    text-decoration: none;
}

.his:hover {
    text-decoration: underline;
}

.about li {
    margin: 5px;
}

.about li i {
    font-size: 20px;
    padding-right: 10px;
}