* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    height: 103px;
    background-color: #303030;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 40px;
    margin-top: 20px;
}

.headname {
    margin-top: 25px;
}

.nav {
    display: inline-block;
    padding: 20px;
    font-weight: 400;
    font-family: sans-serif, "Oswald";
}

.navlink {
    color: white;
    text-decoration: none;
}

.icon {
    color: white;
    margin-top: 45px;
    margin-right: 40px;
}

.fa-magnifying-glass {
    cursor: pointer;
}

.backimage {
    background-image: url(ImagePro02-CSS/image1-pro02CSS.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -120px;
    height: 570px;
}

.titletext {
    margin-left: 40px;
    padding-top: 290px;
}

.lorem {
    margin-left: 40px;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    font-family: sans-serif, "Montserrat";
}

.registernow {
    background-color: #e8631c;
    color: white;
    margin-left: 40px;
    margin-top: 20px;
    font-family: sans-serif, "Oswald";
    border-radius: 4px;
    text-align: center;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    cursor: pointer;
}

.registernow:hover {
    background-color: #eb8954;
}

.box {
    background-color: #e8631c;
}

.dance {
    color: white;
    font-family: sans-serif, "Oswald";
    text-align: center;
    padding-top: 70px;
    font-size: 60px;
}

.ipsum {
    color: white;
    text-align: center;
    padding-top: 25px;
    font-size: 20px;
    font-family: sans-serif, "Montserrat";
}

.image {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    gap: 35px;
    margin-top: 40px;
}

.image1 {
    cursor: pointer;
}

.image2 {
    cursor: pointer;
}

.image3 {
    cursor: pointer;
}

.text {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    gap: 35px;
}

.tex {
    background-color: #303030;
    color: white;
    text-align: center;
    padding: 45px;
    font-family: sans-serif;
    margin-bottom: 70px;
    cursor: pointer;
}

.ame {
    margin: -20px;
}

.lor {
    margin-top: 25px;
}

.pri {
    background-color: #303030;
}

.card {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 40px;
}

.card1 {
    margin-bottom: 70px;
    text-align: center;
    background-color: #e8631c;
    padding-top: 40px;
    border-radius: 8px;
    cursor: pointer;
}

.card2 {
    margin-bottom: 70px;
    text-align: center;
    background-color: #e8631c;
    padding-top: 40px;
    border-radius: 8px;
    cursor: pointer;
}

.card3 {
    margin-bottom: 70px;
    text-align: center;
    background-color: #e8631c;
    padding-top: 40px;
    border-radius: 8px;
    cursor: pointer;
}

.la {
    color: white;
    margin-top: 40px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
}

.ma {
    padding-left: 70px;
    padding-right: 70px;
    color: white;
    margin-top: 20px;
    font-size: 13px;
    font-family: sans-serif;

}

.dol {
    color: white;
    background-color: #303030;
    padding: 10px 100px;
    border: none;
    margin-top: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: pointer;
}

.dol:hover {
    background-color: #4b4a4a;
}

.line {
    display: flex;
    justify-content: space-between;
    background-color: #e8631c;
}

.c-50 {
    width: 50%;
    text-align: center;
}

.buil {
    width: 100%;
}

.stand {
    width: 100%;
}

.amazing {
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    margin-top: 200px;
}

.vivamus {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 25px;
}

.more {
    color: white;
    background-color: #303030;
    font-size: 15px;
    font-family: sans-serif;
    border-radius: 4px;
    padding: 10px 50px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
}

.more:hover {
    background-color: #4b4a4a;
}

.best {
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    margin-top: 200px;
}

.black {
    background-color: #303030;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
}

.club {
    color: white;
    font-size: 35px;
    font-family: sans-serif;
    margin-bottom: 150px;
}

.active {
    color: white;
    font-size: 35px;
    font-family: sans-serif;
}

.community {
    color: white;
    font-size: 35px;
    font-family: sans-serif;
}

.cl {
    font-size: 20px;
    margin-top: 10px;
}

.back {
    background-image: url(ImagePro02-CSS/image8-pro02CSS.png);
    background-position: center;
    background-size: cover;
}

.odio {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 150px;
}

.simon {
    padding-bottom: 200px;
    padding-top: 30px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

.sub {
    background-color: #e8631c;
}

.email {
    text-align: center;
    margin-top: 25px;
}

input[type="email"] {
    background-color: white;
    padding: 10px;
    padding-right: 100px;
    border: none;
}

.su {
    background-color: #303030;
    color: white;
    padding: 10px 25px;
    border-radius: 4px;
    border: none;
    margin-left: -4px;
    margin-bottom: 100px;
    cursor: pointer;
}

.su:hover {
    background-color: #4b4a4a;
}

input[type=email]:focus {
    outline: none;
    border-bottom: 2px solid blue;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #303030;
}

.mus {
    width: 50%;
    margin-left: 50px;
    color: white;
    padding-top: 70px;
    font-family: sans-serif;
}

.ab {
    width: 50%;
    color: white;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    margin-top: 47px;
}

.music {
    font-size: 30px;
}

.nec {
    padding-top: 25px;
}

.fb {
    padding-top: 25px;
    display: flex;
    margin-bottom: 40px;
}

.fa-instagram,
.fa-twitter,
.fa-whatsapp {
    color: #303030;
    font-size: 20px;
    padding: 5px 7px;
}

.fa-facebook {
    color: white;
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.ig,
.wha,
.tw {
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
}

.out,
.oth,
.ser {
    font-size: 30px;
    margin-bottom: 25px;

}

.click {
    color: white;
    text-decoration: none;
    line-height: 30px;
}

.click:hover {
    text-decoration: underline;
}