* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backimg {
    background: url(Image_Pinterest-Log-In_Project/02img_Pinterest-Log-In_Project.png)no-repeat center center/cover;
    position: relative;
}

.black {
    width: 100%;
    height: 780px;
    background-color: black;
    opacity: 0.502;
    position: absolute;
}

.sign {
    background-color: white;
    padding: 10px 12px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    left: 25px;
    top: 50px;
}

.sign:hover {
    background-color: rgb(235, 230, 230);
}

.con {
    padding-top: 39px;
    padding-bottom: 39px;
}

.container {
    background-color: white;
    border-radius: 25px;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    position: relative;
}

.logo img {
    width: 100%;
    height: 100%;
}

.logo {
    width: 10%;
    margin: 0 auto;
    padding-top: 30px;
}

.container h2 {
    font-size: 30px;
    font-family: sans-serif;
    color: #333333;
    margin-top: 5px;
    margin-bottom: 20px;
}

label {
    font-family: sans-serif;
    position: absolute;
    font-size: 13px;
}

label[for="email"] {
    left: 125px;
    top: 152px;
}

label[for="pass"] {
    left: 125px;
    top: 230px;
}

.fa-eye {
    position: absolute;
    font-size: 13px;
    left: 367px;
    top: 269px;
    cursor: pointer;
}

input {
    padding: 13px 30px 13px 15px;
    margin-top: 30px;
    border: 2px solid #cdcdcd;
    outline: none;
    width: 55%;
    border-radius: 15px;
    font-size: 15px;
}

input:hover {
    border: 2px solid rgb(155, 154, 154);
}

input:focus {
    outline: 5px solid rgb(118, 200, 252);
    border: 2px solid #cdcdcd;
}

.forgot {
    position: absolute;
    left: 115px;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13px;
    top: 310px;
}

.forgot:hover {
    text-decoration: underline;
}

.redlog,
.face {
    color: white;
    font-weight: 600;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.redlog {
    background-color: #e60023;
    padding: 13px 100px;
    margin-top: 40px;
}

span {
    padding: 0px 10px;
}

.redlog:hover {
    background-color: #af0b24;
}

.face i {
    font-size: 25px;
    position: absolute;
    left: 13px;
    top: 10px;
}

.face {
    background-color: #0873ff;
    padding: 13px 30px 13px 60px;
    margin-top: 10px;
    position: relative;
}

.or {
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 10px;
}

.google img {
    width: 10%;
    position: absolute;
    left: 13px;
    top: 9px;
}

.google {
    color: black;
    position: relative;
    margin-top: 10px;
    padding: 13px 40px 13px 75px;
    background-color: white;
    border-radius: 25px;
    font-size: 15px;
    border: 1px solid gray;
    cursor: pointer;
    margin-bottom: 20px;
}


.light {
    font-family: sans-serif;
    font-size: 12px;
    margin-top: 5px;
    color: gray;
}

p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 12px;
}

.line:hover {
    text-decoration: underline;
}

hr {
    margin: 20px 100px;
}

.space {
    padding-bottom: 25px;
}